#cpu
{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 500px;
    left: 500px;
    background-size: cover;
}

#resultats
{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 300px;
    left: 550px;
    background-size: cover;
    font-size: 40px;
}

#score\ cpu
{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 300px;
    left: 800px;
    background-size: cover;
    font-size: 25px;
}
#score\ utilisateur
{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 500px;
    left: 800px;
    background-size: cover;
    font-size: 25px;
}